@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  font-family: Ubuntu;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template: 0.1fr 0.2fr 0.2fr 0.2fr 0.2fr 0.1fr/1fr;
      grid-template-areas: "header" "brief-info" "our-services" "our-clients" "our-team" "footer";
}

.header {
  padding: 53px 15px 0 15px;
}
.header .wrapper {
  max-width: 1185px;
  margin: 0 auto;
  grid-area: "header";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 117px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo__img {
  padding: 0 25px 0 0;
}
.logo__text {
  font-size: 24px;
  font-weight: 700;
}
.logo__link {
  color: black;
}

.nav-bar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 700;
}
.nav-bar__item {
  margin-left: 38px;
}
.nav-bar__link {
  color: black;
}
.nav-bar__btn {
  background-color: #5528FF;
  padding: 2.5px 13px 4.5px 14px;
  color: #fff;
  border-radius: 5px;
}

@media (max-width: 690px) {
  .nav-bar__list {
    display: none;
  }

  .nav__burger {
    width: 30px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (8px)[3];
    -ms-grid-columns: 1fr;
        grid-template: repeat(3, 8px)/1fr;
  }

  .nav__burger::before {
    content: "";
    height: 2px;
    width: 30px;
    background-color: black;
  }

  .nav__burger::after {
    content: "";
    height: 2px;
    width: 30px;
    background-color: black;
  }

  .nav__burger span {
    content: "";
    height: 2px;
    width: 30px;
    background-color: black;
  }
}
.brief-info {
  margin-bottom: 110px;
}
.brief-info .wrapper {
  padding: 0 0px 0 15px;
  max-width: 1205px;
  margin: 0 auto;
  grid-area: "brief-info";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.brief-info__title {
  font-size: 57px;
  font-weight: 700;
  margin-bottom: 35px;
}
.brief-info__text {
  max-width: 741px;
  font-size: 32px;
  color: #4F4F4F;
  line-height: 51px;
  margin-bottom: 70px;
}
.brief-info__btn {
  font-weight: 400;
  font-size: 24px;
  background-color: #5528FF;
  padding: 11px 58px 11px 58px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
}

.our-services {
  border-top: 1px solid #C2C2C2;
  position: relative;
}
.our-services .wrapper {
  padding: 0 15px 0 15px;
  padding-top: 100px;
  grid-area: "our-services";
  max-width: 1185px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.our-services .title {
  position: absolute;
  color: #C2C2C2;
  top: -7px;
  padding: 0 40px 0 20px;
  background-color: #fff;
}

.service-column {
  max-width: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 20px;
}
.service-column .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 82px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.service-column .item .img {
  width: 120px;
  height: 80px;
  margin-right: 30px;
}
.service-column .item .text__title {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 17px;
  -ms-flex-preferred-size: calc(100% - 120px);
      flex-basis: calc(100% - 120px);
}
.service-column .item .text__content {
  color: #B2B2B2;
  line-height: 22px;
}

@media (max-width: 690px) {
  .our-services .wrapper {
    display: block;
  }
  .our-services .wrapper .service-column {
    margin: 0 auto;
  }
}
.our-clients {
  border-top: 1px solid #C2C2C2;
  position: relative;
}
.our-clients .wrapper {
  padding: 100px 15px 0 15px;
  grid-area: "our-clients";
  max-width: 1185px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.our-clients .title {
  position: absolute;
  color: #C2C2C2;
  top: -7px;
  padding: 0 40px 0 20px;
  background-color: #fff;
}
.our-clients .column {
  max-width: 170px;
  padding-right: 20px;
}
.our-clients .column__item {
  margin-bottom: 60px;
}

@media (max-width: 690px) {
  .our-clients .wrapper {
    display: block;
  }
  .our-clients .wrapper .column {
    margin: 0 auto;
  }
}
.our-team {
  border-top: 1px solid #C2C2C2;
  position: relative;
}
.our-team .title {
  position: absolute;
  color: #C2C2C2;
  top: -7px;
  padding: 0 40px 0 20px;
  background-color: #fff;
}
.our-team .wrapper {
  padding: 100px 15px 0 15px;
  grid-area: "our-team";
  max-width: 1185px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}
.item__img {
  max-width: 100px;
  border-radius: 50%;
  margin-right: 35px;
}
.item__text {
  font-family: Ubuntu;
}
.item__name {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 11px;
  color: #202020;
}
.item__position {
  font-weight: 400;
  font-size: 14px;
  color: #B2B2B2;
}

.column {
  max-width: 290px;
  margin-bottom: 40px;
  padding-right: 20px;
}

@media (max-width: 690px) {
  .our-team .wrapper {
    display: block;
    margin: 0 auto;
  }
  .our-team .wrapper .column {
    margin: 0 auto;
  }
}
.footer {
  background-color: #F7F7F7;
  padding: 0 15px 0 15px;
}
.footer .wrapper {
  padding: 0 15px 0 15px;
  max-width: 1185px;
  margin: 0 auto;
  grid-area: "footer";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F7F7F7;
  padding: 20px 0 20px 0;
}

.socials {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socials__icon {
  padding-left: 40px;
}

@media (max-width: 374px) {
  .footer .wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}